/*
Generar los estilos -- orden
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales (sombras, etc)
5. Otros
*/

:root {
    /*Generar Variables*/
    /*Colores que se van a usar */
    --bitcoin-orange: #F7931A;
    /*Nombre de la variable que va a representar el color naranja que vamos a usar*/
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    /*Lo que mas me gusto del curso*/
    /*Para poner un color combinado el lineal-gradient*/
}

.image-Header {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 288px;
    /*No va a poder ser mas pequeño que 288px*/
    max-width: 900px;
    /*No va a poder pasarse de 900px si la pantalla
     lo permite, osea si permite mas de 900px*/
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    /*Interlineado*/
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-title-container .text-header {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-title-container .button-header {
    /*cuando ponemos el position: absolute no podremos poner un margin: 0 auto*/
    position: absolute;
    /*Es para mover el boton, y esto me lo permite el position: absolute*/
    /*Aqui podemos poner un left para acomodarlo*/
    left: calc(50% - 114.5px);
    /*Para generar un calculo para centrar el elemento a medida
    que crezca*/
    top: 270px;
    /*Permite desplazar un elemento respecto a el tamaño del 
    elemento padre*/
    /*top mueve el elemento 270px hacia abajo respecto a donde este 
    el elemento padre*/
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombras*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*End border*/
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black)
}

.button-header span {
    display: inline-block;
    /*se le pone este display ya que la etiqueta <span> por defecto
    tiene un display:inline, y ese display no puede tener medidas
    como width o height, por lo tanto el logo no se veria, porque 
    es svg y el elemento svg requiere medidas como width y height*/
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../Assets/icons/arrow-down.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    /*para centrar todo el contenido*/
}

.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    /*Si la pantalla se reduce, lo minimo que
    va a poder medir ese titulo seria 288px*/
    max-width: 900px;
    /*Si la pantalla crece, lo maximo que va 
    a poder medir ese titulo seria 900px*/
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    /*Para la imagen de fondo de pantalla*/
    background-image: url('../assets/imgs/bitcoin.svg');
    /*Para poder hacer que la imagen escale dependiendo de la pantalla*/
    background-size: cover;
    /*Posicion en X y en eje Y, lo pondremos center para que siempre en el eje X o Y se centre el background image*/
    background-position: center;
    /*Para que no se repita el background*/
    background-repeat: no-repeat;
    /*Este no afecta, ya que el background al tener un contenedor 
    definido este mismo no se puede repetir
    Es mas que todo para buenas practicas*/
}

.main-exchange-container-title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container-title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 25px;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table-container table {
    width: 100%;
    height: 100%;
    /*Para que la tabla ocupe todo el espacio que 
    el contenedor padre le dejo*/
}

.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.table_top-left {
    border-radius: 15px 0 0 0;
}

.table_top-right {
    border-radius: 0 15px 0 0;
}

.table_bottom-left {
    border-radius: 0 0 0 15px;
}

.table_bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table-container .table_right {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down-red.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.currency-table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-currency-table .currency-table-date {
    width: 190px;
    height: 30px;
    padding: 8px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}


/*HACER LA SEGUNDA TABLA*/

.main-commission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 25px;
    font-family: "Inter", sans-serif;
}

.main-commission-table .commission-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
}

.commission-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.commission-table-container table {
    width: 100%;
    height: 100%;
}

.commission-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.main-commission-table .commission-table-date {
    width: 190px;
    height: 30px;
    padding: 8px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    border-radius: 8px;
    background-color: var(--soft-blue);
    color: var(--warm-black);
}

.commission-table-container .table_right {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail-batata-logo {
    /*Esta sirve tambien para limitar el movimiento de esa etiqueta <span>, gracias a el position: relative del 
    contenedor padre; Este limita el movimiento a solo poder moverse dentro del contenedor o elemento padre*/
    position: absolute;
    /*gracias al absolute no tendremos que ponerle un display:inline-block*/
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    /*Consultar como hacer esto de la mejor manera*/
    background-image: url(../assets/icons/Logo.svg);
}

.product-detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail-title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #6d6d66;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card-money {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card-money .money {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card-money .product--card-title-money {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 15px;
    color: var(--just-white);
}

.product-detail--card-money .product--card-body-money {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(../assets/imgs/bitcoinbaby\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    /*Debe ocupar todo el ancho porque es el contenedor principal*/
    min-width: 320px;
    height: auto;
    padding-bottom: 70px;
    text-align: center;
}

.main-plans-container .plans-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans-title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}


/*IMPORTANTE*/

.plans-container-slider {
    display: flex;
    height: 326px;
    /*Aun no se a implimentado en todos los navegadores gap: 50px;*/
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-tables-container {
    display: flex;
    /*Aun no se a implimentado en todos los navegadores gap: 50px;*/
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}


/*IMPORTANTE*/

.plans-container-card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 8px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}

.plan-card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: capitalize;
    color: black;
    margin-bottom: 10px;
}

.plan-card-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
    margin-bottom: 5px;
}

.plan-card-price span {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 55px;
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card-saving {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card-call {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    padding-bottom: 5px;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    /*La etiqueta button no toma el font-family que tiene el contenedor padre, osea la inherit*/
    font-family: 'DM Sans', sans-serif;
}

.plan-card-call span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    background-image: url(../assets/icons/arrow-right-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.plans-container-card2 {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended2 {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    /*BUSCAR MAS SOBRE EL CALC()*/
    top: -15px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    background-color: #CCE71D;
    color: var(--just-white);
    border-radius: 10px;
}

.plan-card-title2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-top: 30px;
    text-transform: capitalize;
    color: var(--black);
    margin-bottom: 10px;
}

.plan-card-price2 {
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
    padding: 5px 0;
    margin-bottom: 5px;
}

.plan-card-price2 span {
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 55px;
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card-saving2 {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card-call2 {
    width: 150px;
    height: 48px;
    padding-bottom: 6px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    color: black;
}

.plan-card-call2 span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-image: url(../assets/icons/arrow-right-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.recommended3 {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    /*BUSCAR MAS SOBRE EL CALC()*/
    top: -15px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    background-color: var(--secundary-blue);
    color: var(--just-white);
    border-radius: 10px;
}

.footer {
    width: 100%;
    height: 150px;
    padding: 16px 20px 0 20px;
    background-color: var(--bitcoin-orange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links li {
    margin-bottom: 10px;
    list-style: none;
}

.footer-links .elements-footer {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
    text-decoration: none;
    letter-spacing: 0.1rem;
    /*Espacio entre las letras*/
}

.footer-img {
    width: 87px;
    height: 82px;
    position: relative;
    /*El relative permite que el absolute del elemento hijo tenga limites respecto al padre directo que tenga un 
    position: relative*/
    padding-top: 10px;
    padding-left: 10px;
}

.footer-img img {
    margin: 10px;
    margin-left: 20px;
}

.footer-img .span-del-logo {
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}